{%extends "login.html"%}

{%block content %}
<div>
    <div class="d-grid gap-4 col-6 mx-auto">
      <button class="btn btn-primary" type="button">
        <a href="  http://127.0.0.1:8000/admin/login/?next=/login/"><h3>inicia sesión / login</h3></a>
        </button>
      </button>
      <button class="btn btn-primary" type="button">
        <a href="http://127.0.0.1:8000/admin/auth/user/add/"><h1>suscribete</h1></a>
      </button>
      <button class="btn btn-primary" type="button">
        <a href=" http://127.0.0.1:8000/admin/logout/"></a><h1>
      </button>
  
      <button class="btn btn-primary" type="button">
      <a href="profile_update.html"</a>
      Perfil</a>   
      </button>
    </div>
  
  </div>
{%endblock%}